body{
    background-color: #e4ebf0;
}
header{
    background-color: #bdd1de;
}
h1{
  font: 1em sans-serif;
  font-size:1.5rem; 
  color: #4180ab;
  text-align: center; 
}
h2{
    font: 1em sans-serif;
    font-size:1.5rem; 
    color: #4180ab ;
    text-align: center; 
  }
button{
    background-color: #e4ebf0;
    color: #4180ab;
    padding: 20px 30px;
    border-radius: 10px;
    border-color: #4180ab;
    cursor:pointer;
    
}
p{
    font: 1em sans-serif;
    font-size:1.5rem; 
    color: #8ab3cf ;
    text-align: center; 
}
div#botao{
    display:flex;
    justify-content: center;
    align-items: center;
}